<header>
    <div id="logo-section">
        <img src="/assets/newsly_logo.svg" alt="Newsly logo" id="logo">
    </div>

    <!-- <div class="user-section"> -->
        <% /* if (!currentUser) { */ %>
            <!-- <p>You're NOT logged in</p> -->
            <% /* } else { */ %>
                <!-- <p>You're logged in as <%= currentUser.username %>!</p> -->
            <% /* } */ %>
    <!-- </div> -->

    <div class="burger-icon">
        <i class="bi bi-list"></i>
    </div>

    <nav>
        <ul>
            <li><a href="/dashboard" <% if (pageTitle=='Dashboard' ) { %> class = "active" <% } %>><i
                            class="bi bi-house"></i>Dashboard</a></li>
            <li><a href="/preferences" <% if (pageTitle=='Preferences' ) { %> class = "active" <% } %>><i
                            class="bi bi-gear"></i>Preferences</a></li>
            <li><a href="/preferences/add" <% if (pageTitle=='Add feed' ) { %> class = "active" <% } %>><i
                            class="bi bi-plus-square"></i>Add feed</a></li>
            <li><a href="/logout" <% if (pageTitle=='Logout' ) { %> class = "active" <% } %>><i
                            class="bi bi-box-arrow-left"></i>Logout</a></li>
        </ul>
    </nav>

    <div id="copyright-section">
        <p>Newsly &copy; 2023. Tutti i diritti riservati.</p>
    </div>
</header>