<p>SONO L'HEADER</p>
<% if (!currentUser) { %>
    <p>You're NOT logged in</p>
<% } else { %>
    <p>You're logged in!</p>
<% } %>

<ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/preferences">Preferences</a></li>
</ul>