<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./style.css">

    <% if (typeof stylesheet === 'undefined') { %>
        <link rel="stylesheet" href="/style.css">
    <% } else { %>
        <link rel="stylesheet" href='<%= stylesheet %>'>
    <% } %>

    <title>Document</title>
</head>
<body>

    <%- body %>

    <%- include('../partials/footer') %>
    
    <script src="/index.js"></script>
</body>
</html>