<% layout('layouts/boilerplate') %>

<div class="title-section">
    <h1>Add new feed</h1>
</div>
<div class="input-form">
    <form action="/preferences/add" method="POST">
        <div class="">
            <label for="name">Name</label>
            <input class="w-100" type="text" id="name" name="channel[name]" placeholder="Name" required>
        </div>
        <div class="">
            <label for="url">Url</label>
            <input class="w-100" type="text" id="url" name="channel[url]" placeholder="Url" required>            
        </div>
        <button type="submit" class="btn-primary">Add</button>
    </form>
</div>