<% layout('layouts/empty') %>

<div class="login-section">
    <div class="title-section">
        <h1>Login</h1>
    </div>
    <div class="login-form">
        <form action="/login" method="POST" novalidate>
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" autofocus required>
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button>Login</button>
        </form>
    </div>
</div>