<% layout('layouts/empty') %>

<div class="title-section">
    <h1>Welcome back to Newsly</h1>
    <p>Don't have an account? <a href="/register">Signup</a></p>
</div>
<div class="user-form">
    <form action="/login" method="POST" novalidate>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" autofocus required>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button class="btn-primary">Login</button>
    </form>
</div>
