<% layout('layouts/empty') %>

<div class="title-section text-center">
    <h1>Create an account</h1>
    <p>Already have an account? <a href="/login">Login</a></p>
</div>
<div class="input-form">
    <form action="/register" method="POST" novalidate>
        <div>
            <label for="username">Username</label>
            <input class="w-100" type="text" id="username" name="username" autofocus required>
        </div>

         <div>
            <label for="email">Email</label>
            <input class="w-100" type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="password">Password</label>
            <input class="w-100" type="password" id="password" name="password" required>
        </div>

        <button class="btn-primary w-100">Register</button>
    </form>
</div>