<% layout('layouts/boilerplate') %>
<div>
    <h1>Dashboard</h1>
    <div>
        <% for (const post of posts) { %>
            <h4><%= post.title %></h4>            
            <a href="<%= post.link %>" target="_blank">Read more</a>
        <% } %>        
    </div>
</div>