<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <h1>Ciaone</h1>
        <% for (let i=0; i <=1; i++) {%>
            <%- include('../partials/single-feed') %>
        <% } %>

    </main>
</body>

</html>