/*
* Import modules
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
* Css Reset
*/
/*
* 1. Use a more-intuitive box-sizing model
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
* 2. Remove default margin
*/
* {
    margin: 0;
}

/*
* Typographic tweaks!
* 3. Add accessible line-height
* 4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
* 5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
* 6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
* 7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
* 8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* 
* Variables
*/
$purple: #9147ff;
$dark-purple: #5c167f;
$light-purple: #efe4ff;

$black: #0e0e10;
$white: #ffffff;

$grey: #e5e5e5;
$dark-grey: #c8c8d0;
$light-grey: #f9f9f9;

/*
* Elements
*/
body {
    font-family: 'Inter', sans-serif;
    font-size: .9em;
    font-weight: 400;
    transition: .1s ease-in-out;
}

h1 {
    font-size: 1.25rem;
    font-weight: 600;
}

a {
    color: $purple;
    text-decoration: none;
}

button,
.btn {
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    padding: 4px 16px;
    transition: .1s ease-in-out;
}

.btn-primary {
    color: $white;
    background-color: $purple;
    border: 1px solid $purple;

    &:hover {
        background-color: $dark-purple;
        border: 1px solid $dark-purple;
    }
}

.btn-secondary {
    color: $purple;
    background-color: $white;
    border: 1px solid $purple;

    &:hover {
        background-color: $light-purple;
    }
}

input {
    border: 1px solid $grey;
    border-radius: 4px;
    padding: 4px 8px;
}

label {
    font-size: .75rem;
}

#logo {
    width: 120px;
}

/*
* General
*/
.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

/*
* Templates
*/
.container-canva {
    max-width: 400px;
    margin: 80px auto 0 auto;
}

.container-dashboard {
    max-width: 1240px;
    display: flex;
    margin: auto;

    main {
        width: 80%;
        padding: 32px 0 0 120px;
        border-left: 1px solid $grey;
        min-height: 100vh;
    }

    header {
        width: 20%;
        padding: 0 32px 0 0;
        height: fit-content;
        position: sticky;
        top: 0;
    }
}

#logo-section {
    padding: 32px 0;
    border-bottom: 1px solid $grey;
}

#copyright-section {
    font-size: .75rem;
    color: $dark-grey;
    border-top: 1px solid $grey;
    padding: 32px 0;
}

footer {
    display: none;
}

/*
* Navigation
*/
nav {
    padding: 32px 0;

    ul {
        padding: 0;
        list-style-type: none;

        li {
            a {
                color: $black;
                text-decoration: none;
                display: block;
                padding: 8px;
                border-radius: 4px;
                font-size: .9rem;
                font-weight: 500;

                &:hover {
                    background-color: $light-grey;
                }

                i {
                    margin: 0 8px 0 0;
                }
            }

            .active {
                color: $purple;
                background-color: $light-purple;

                &:hover {
                    background-color: $light-purple;
                }
            }
        }
    }
}

/*
* Sections
*/
.title-section {
    margin: 0 0 32px 0;
}

.input-form {
    input,
    button {
        margin: 0 0 8px 0;
    }
}

.checkbox-form {
    label {
        cursor: pointer;
        font-size: .9rem;
    }

    .checkbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        margin: 0 0 8px 0;
        border: 1px solid $grey;
        border-radius: 4px;
    }
}

.columns {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    .column {
        width: 100%;
    }
}

/*
* Homepage
*/
.homepage-body {
    background-image: url("../../assets/Immagine.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.homepage-container {
    max-width: 1480px;
    padding: 0 4%;
    margin: auto;
    height: 100vh;
}

.homepage-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: transparent;
}

.homepage-section {
    text-align: center;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    padding: 0 0 100px 0;

    h1 {
        font-size: 3rem;
        line-height: 3.25rem;
        margin: 0 0 24px 0;
    }

    p {
        font-size: 1.25rem;
    }
}

/*
* Dashboard
*/
.post {
    padding: 40px 0;
    border-bottom: 1px solid $grey;

    .post-header {
        display: flex;
        align-items: center;
        margin: 0 0 8px 0;

        img {
            margin: 0 8px 0 0;
        }
    }

    .post-data {
        font-size: .75rem;
        font-weight: 500;
        color: $dark-grey;
    }

    .post-title {
        font-size: 1rem;
        font-weight: 600;
        margin: 8px 0;
    }

    .post-read-more {
        font-size: .8rem;

        &:hover {
            color: $dark-purple;
        }
    }
}

/*
* Flash messages
*/
.flash {
    max-width: inherit;
    padding: 16px;
    margin: 0 auto 24px auto;
    border-radius: 4px;
    font-weight: 600;
    font-size: .8rem;
}

.success {
    color: #0073ff;
    background-color: #c2edff;
    border: 1px solid #0073ff;
}

.error {
    color: #ff3e2c;
    background-color: #fff1f0;
    border: 1px solid #ff3e2c;
}